body{
    background-color: brown;
}
.elem{
    width: 100%;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px 50px;
    display: grid;
    border: black double 3px;
}
.egy:hover{
    background-color: beige;
}
.egy{
    width: 50px;
    height: 50px;
    border-radius: 5px; ;
    border: black solid 3px;
}
.valasztas{
    grid-template-columns: 1fr 1fr;
    display: grid;
    margin: 20% 20% 20% 20%;
    border: black solid 3px;
    background-color: white;
}
.info{
    border: black solid 3px;
    width: 100%;

}
    